# Ruta de la API dentro de la red docker (el servicio de Firefly se llama 'app')
FIREFLY_URL=http://app:8080 
FIREFLY_PAT=your_personal_access_token_here
# Nombre de la red docker de Firefly (usualmente el nombre de la carpeta + _default)
FIREFLY_NETWORK=firefly_default
